<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>eSports101 Learn</title>

	</head>
	<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 learn">
	</div>
			<div class="col-sm-8 videoCon">
						<iframe src="https://www.youtube.com/embed/he7Y0GTXQgY?autoplay=1&start=504&enablejsapi=1" width="100%" height="720" id="video"></iframe>
			</div>
			<div class="col-sm-2" id="toolTipText">

			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
					<div class="row">
				<img class="logo" src="/c9.png" alt="" />
									</div>
									<div class="row">
				<img class="logo"src="http://lol.esportspedia.com/w/images/thumb/b/b5/Immortalslogo_square.png/130px-Immortalslogo_square.png" alt="" />
			</div>
							</div>
			<div class="col-sm-8 gameDeck">
							<div class="col-sm-2 gameNode1" id="t1Top"></div>
							<div class="col-sm-2 gameNode1" id="t1Jung"></div>
							<div class="col-sm-2 gameNode1" id="t1Mid"></div>
							<div class="col-sm-2 gameNode1" id="t1AD"></div>
							<div class="col-sm-2 gameNode1" id="t1Sup"></div>
							<div class="col-sm-2 gameNode2" id="t2Top"></div>
							<div class="col-sm-2 gameNode2" id="t2Jung"></div>
							<div class="col-sm-2 gameNode2" id="t2Mid"></div>
							<div class="col-sm-2 gameNode2" id="t2AD"></div>
							<div class="col-sm-2 gameNode2" id="t2Sup"></div>
					</div>
					</div>
										</div>

	</body>

</html>
