<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>eSports101 Learn</title>
	</head>
	<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="container">
					<div class="learnDeck">
					</div>
					<div class="learnDeck">
					</div>
					<div class="learnDeck">
					</div>
					<div class="learnDeck">
					</div>
					<div class="learnDeck">
					</div>
					<div class="learnDeck">
					</div>
					<div class="learnDeck">
					</div>
					<div class="learnDeck">
			</div>
							</div>
	</div>
			<div class="col-md-8">
				<div class="container">
						<iframe src="https://www.youtube.com/embed/he7Y0GTXQgY?autoplay=1&start=204" width="1024" height="720"></iframe>
				</div>
			</div>
		</div>
					</div>


		<div class="row">
			<div class="col-md-2">
				<div class="container">
					<div class="row">
				<img class="logo" src="/c9.png" alt="" />
									</div>
									<div class="row">


				<img class="logo"src="http://lol.esportspedia.com/w/images/thumb/b/b5/Immortalslogo_square.png/130px-Immortalslogo_square.png" alt="" />
			</div>
						</div>
							</div>
			<div class="col-md-8 gameDeck">
				<div class="container">
							<div class="col-md-2 gameNode1" id="t1Top"></div>
							<div class="col-md-2 gameNode1" id="t1Jung"></div>
							<div class="col-md-2 gameNode1" id="t1Mid"></div>
							<div class="col-md-2 gameNode1" id="t1AD"></div>
							<div class="col-md-2 gameNode1" id="t1Sup"></div>
							<div class="col-md-2 gameNode2" id="t2Top"></div>
							<div class="col-md-2 gameNode2" id="t2Jung"></div>
							<div class="col-md-2 gameNode2" id="t2Mid"></div>
							<div class="col-md-2 gameNode2" id="t2AD"></div>
							<div class="col-md-2 gameNode2" id="t2Sup"></div>
				</div>
					</div>
					</div>
	</body>
</html>
