// Place all the styles related to the learn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	color: red;
}

.learnDeck{

	background-color: #656565;
	width: 100%;
	height: 90px;
	border: black solid 1px;
}
.gameNode1{
	border: black solid 1px;
	background-color: #08415C;
	background-repeat: no-repeat;
	height: 100px;
	width: 20%;

}
.gameNode2{
	border: black solid 1px;
	background-color: #A44A3F;
	height: 100px;
	width: 20%;
}

.videoCon{

}
.logo{
	max-width: 100px;
	max-height: 100px;
}
iframe{
	border-color: black;

}
#toolTipText{
	border: red solid 1px;
}
.learnCard{
	
}
