// Place all the styles related to the learn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
	color: red;
}

.learnDeck{
	background-color: #656565;
	width: 150px;
	height: 90px;
	border: black solid 1px;
}
.gameNode1{
	background-color: #08415C;
	border: black solid 1px;
	height: 100px;
	width: 204.6px;

}
.gameNode2{
	background-color: #A44A3F;
	border: black solid 1px;
	height: 100px;
	width: 204.6px;

}

.logo{
	margin-left: 30px;
	max-width: 100px;
	max-height: 100px;
}
iframe{
	border-color: #343434;
}
